<p>Puppy Name: <%=@puppy.name %></p>
<p>Puppy Breed: <%=@puppy.breed %></p>
<p>Puppy Age: <%=@puppy.age %>months</p>
<html>
  <body>
    Puppy Name:
    <%= @puppy.name %>
    Puppy Breed:
    <%= @puppy.breed %>
    Puppy Age:
    <%= @puppy.age %>
  </body>
</html>